---
title: Publications
permalink: /publications/
---

<h2>Journal Articles</h2>

<ul>
{% assign journal_papers = site.publications | where: "type", "journal" | sort: "date" | reverse %}
{% for post in journal_papers %}
  {% include archive-single-publication.html %}
{% endfor %}
</ul>

<h2>Conference Proceedings</h2>

<ul>
{% assign conference_papers = site.publications | where: "type", "conference" | sort: "date" | reverse %}
{% for post in conference_papers %}
  {% include archive-single-publication.html %}
{% endfor %}
</ul>
