{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<li>
  {% if post.authors %}
    {{ post.authors }},
  {% endif %}
  "<a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>",
  <i>{{ post.venue }}</i>{% if post.volume or post.number or post.pages or post.artnum %},{% endif %}
  {% if post.volume %}vol. {{ post.volume }}{% endif %}
  {% if post.number %}, no. {{ post.number }}{% endif %}
  {% if post.artnum %}, Art. no. {{ post.artnum }}{% endif %}
  {% if post.pages %}, pp. {{ post.pages }}{% endif %},
  {{ post.date | date: "%Y" }}.
  {% if post.note %}
    {{ post.note }}
  {% endif %}
</li>
